<!doctype html>
<html lang="pt-Br">

<head>
  <script src="{{ url_for('static', filename='js/color-modes.js') }}"></script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <title>Login do Usuário</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/sign-in/">



  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/sign-in.css') }}">
</head>

<body class="d-flex align-items-center py-4 bg-body-tertiary"  data-bs-theme="light">
  <main class="form-signin w-100 m-auto">

    <form method="POST" action="/login">
      <div class="text-center">
        <a href="/"><img class="mb-4" src="{{ url_for('static', filename='img/favicon.png') }}" alt="" width="72"
            height="57"></a>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        {% if category == 'error' %}
        <div class="alert alert-danger">
          {{ message }}
        </div>
        {% endif %}
        {% if category == 'success' %}
        <div class="alert alert-success">
          {{ message }}
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endwith %}
      </div>

      <div class="form-floating">
        <input type="text" class="form-control" id="loginInput" placeholder="Login ou E-mail"
          title="Informar login ou e-mail" name="cLoginEmail" autofocus>
        <label for="loginInput">Login ou E-mail</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="cSenha" placeholder="Senha" title="Informe sua senha"
          name="cSenha">
        <label for="floatingPassword">Senha</label>
      </div>


      <button class="btn btn-primary w-100 py-2" type="submit">Entrar</button>
    </form>
  </main>
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

</body>

</html>